<!DOCTYPE html>
<html ng-app="planos">
<head>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js" ></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js" ></script>
    <script type="text/javascript" src="bower_components/angular/angular.js" ></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js" ></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js" ></script>
    <script type="text/javascript" src="bower_components/sockjs/sockjs.js" ></script>
    <script type="text/javascript" src="bower_components/stomp-websocket/lib/stomp.js" ></script>
    <script type="text/javascript" src="bower_components/angular-dragdrop/src/angular-dragdrop.js" ></script>
    <script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.js"></script>


    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript"  src="bower_components/bootstrap/dist/js/bootstrap.js" ></script>

    <script type="text/javascript"  src="Planos.js"  preload="none" ></script>

    <script type="text/javascript"  src="PortfolioController.js"  preload="none" ></script>
    <script type="text/javascript"  src="AuthService.js"  preload="none" ></script>
    <script type="text/javascript"  src="NotifiedResource.js"  preload="none" ></script>
    <script type="text/javascript"  src="ProjectController.js"  preload="none" ></script>

</head>
<body ng-view="">

</body>

</html>
