<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="shortcut icon" type="image/png" href="bower_components/jasmine/images/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="bower_components/jasmine/lib/jasmine-core/jasmine.css">

    <script type="text/javascript" src="bower_components/jasmine/lib/jasmine-core/jasmine.js"></script>
    <script type="text/javascript" src="bower_components/jasmine/lib/jasmine-core/jasmine-html.js"></script>
    <script type="text/javascript" src="bower_components/jasmine/lib/jasmine-core/boot.js"></script>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>

    <script type="text/javascript" src="bower_components/angular-mocks/angular-mocks.js"></script>

    <script type="text/javascript" src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>

    <script type="text/javascript" src="NotifiedResource.js"></script>
    <script type="text/javascript" src="NotifiedResourceSpec.js"></script>

    <script type="text/javascript" src="PortfolioController.js"></script>
    <script type="text/javascript" src="PortfolioControllerSpec.js"></script>

    <script type="text/javascript" src="AuthService.js"></script>
    <script type="text/javascript" src="AuthServiceSpec.js"></script>

    <script type="text/javascript" src="ProjectController.js"></script>
    <script type="text/javascript" src="ProjectControllerSpec.js"></script>


</head>
<body>

</body>
</html>